html {
    box-sizing: border-box;}

body {
font-family: "Hanken Grotesk",sans-serif;
background-color:#073126; color: white;
margin: 0 10px; padding: 0;}

img {max-width: 100%; display: block}

.contenitore {max-width: 1060px; margin: auto;}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a {
margin: 0; padding: 0; list-style: none;
text-decoration: none; color: inherit;}
h1{font-size: 60px; font-weight: 600;}
h2{font-size: 28px; font-weight: 600;}
h3{font-size: 24px; font-weight: 500;}
h4{font-size: 30px; font-weight: 300;}
h5{font-size: 14px; font-weight: 700;}
h6{font-size: 20px; font-weight: 600; margin-bottom: 8px;}
p{font-size: 20px; font-weight: 300;}

  
/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;}

header .navigazione-header {
    display: flex;
    gap: 80px;}

.sottolinea:hover{
    text-decoration: underline;
    text-underline-offset: 10px;}

.p-line {
    text-decoration: underline;
    text-underline-offset: 10px;}


/*hero*/
.hero {
    margin-top: 150px;
    margin-bottom: 100px;
    line-height: 70px;}

    .hero h4{
        margin-top: 60px;
        line-height: 35px;}

    .hero-image img{
        margin-top: 60px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;}

.banner img{
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*HOME - card*/

.card {max-width: 340px;}

.card img:hover {
    transform: scale(1.02); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

.sfondo-bianco {
    background-color: white;   
    border-radius:10px;
    color: #073126;
    margin-bottom: 15px;
}

.scopri-parchi:hover {
    color: #395A51;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.scopri-parchi {
    max-width: 1060px;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
    gap: 20px;}

.sezione-carte-home {
    display: flex;
    gap: 30px;
    padding-bottom: 100px;}

    .sezione-carte-home div img {
        height: 390px;
        object-fit: cover;
        object-position: 80% 0;
        border-radius: 10px;}

    .sezione-carte-home h3 {
    margin-top: 20px;
    margin-bottom: 8px;}


/*HOME - scopri le attività*/

.sfondo-verde{
    background-color:#395A51;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 15px;}  

.box{
    display: flex;
    gap: 40px;}

.attività-ed-esperienze {
    width: 320px;
    padding-top: 85px;
    padding-bottom: 85px;}

    .attività-ed-esperienze h5 {
        color: #073126;
        padding: 15px;
        max-width: 150px;
        background-color: #ffffff;
        border-radius: 30px;
        text-align: center;}

    .attività-ed-esperienze .testo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 60px;}

.img-trecking{
    position: relative;}

    .img-trecking img{
        object-fit: cover;
        object-position: right;
        height: 100%;
        width: 100%;}

    .img-trecking h1{
        position: absolute;
        max-width: 440px;
        line-height: 60px;
        padding-top: 340px;
        padding-left: 50px;}

.bottone-bianco:hover {
    background-color: #073126;
    color: #ffffff;
}


/*News Letter*/

.news-letter {
    display: flex;
    gap: 30px;
}

.rettangolo-bianco{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.rettangolo-bianco p {
    background-color: #ffffff;
    color: #073126;
    border: 3px solid #073126;
    border-radius: 10px;
    max-width: 300px;
    padding: 16px 100px 16px 27px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;}

.rettangolo-bianco .email{
    padding-right: 240px;
}

.rettangolo-bianco h5{
    color: white;
    background-color: #073126;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    text-align: center;}

.rettangolo-bianco .bottone-verde h5 {
    padding: 15px 30px 15px 30px;
}

.news-letter div{
    margin: auto;
}

.bottone-verde:hover {
    background-color: #395A51;
    color: #ffffff;
}

/*Footer*/

.copyright{
    font-size: 10pt;
    font-weight: 200;
    margin-top: 60px;
    margin-bottom: 40px;}

.riga-marchio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px}

.privacy{
    display: flex;
    gap: 60px;}

    .privacy p {
        font-size: 14pt;
        font-weight: 200;}

       
/*PARCHI - card*/

.parchi {
    background-color: #395A51;   
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
    padding-bottom: 60px;
    }

.parchi .descrizione{
    max-width: 600px;
}

.sezione-carte-parchi {
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
    
    .sezione-carte-parchi div img{
        max-width: 340px;
        margin-top: 45px;
        height: 390px;
        object-fit: cover;
        object-position: 80% 0;
        border-radius: 10px;
    }

    .sezione-carte-parchi h3 {
        margin-top: 20px;
        margin-bottom: 8px;
    }


/*ATTIVITÀ - introduzione*/

.attivita {
    background-color: white; 
    color: #073126;  
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
    padding-bottom: 60px;
    }

.attivita-introduzione {
    max-width: 600px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 60px;
}

    .attivita-introduzione h3 {
        margin-bottom: 40px;}


    .attivita-introduzione p {
        margin-bottom: 20px;}


/*ATTIVITÀ - tipologie*/

.foto-img{
    width: 520px;
    height: 260px;}

.foto-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;}

/*uno*/

.uno .escursioni{
    margin-bottom: 60px;
}

    .uno .escursioni h3 {
        margin-bottom: 60px;
    }

    .uno .escursioni h2 {
        margin-bottom: 40px;
    }

    .uno .escursioni-p {
        display: flex;
        justify-content: space-between;
    }

    .uno .escursioni-p p{
        list-style-type: disc; 
        margin-bottom: 20px;
        width: 430px;
    }

    .padding {
        padding-top: 60px;
        padding-bottom: 30px;
    }

    .uno .foto-img {
        position: sticky;
        top: 20px; 
    }

    @media (max-width: 600px) {
        body {
            margin: 0;
        }
    
        .contenitore {
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }
    
        header {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 15px;
        }
    
        header h2 {
            font-size: 24px;
        }
    
        header .navigazione-header {
            flex-direction: row;
            gap: 10px;
        }
    
        header .navigazione-header li p {
            font-size: 18px;
    
        }
    
        .hero {
            margin-top: 60px;
            margin-bottom: 30px;
            line-height: 1.2;
            text-align: left;
        }
    
        .hero h1 {
            font-size: 32px;
        }

        .hero h4{
            font-size: 20px;
            margin-top: 30px;
        }
    
        .scopri-parchi {
            flex-direction: row;
            text-align: left;
            padding-top: 40px;
            padding-bottom: 20px;
            gap: 15px;
        }
    
        .sezione-carte-home {
            flex-direction: column;
            gap: 15px;
            padding-bottom: 40px;
        }
    
        .card {
            max-width: 100%;
        }
    
        .box {
            flex-direction: column;
            gap: 20px;
            padding: 20px;
        }
    
        .attività-ed-esperienze {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            text-align: left;
        }
    
        .attività-ed-esperienze h2 {
            font-size: 22px;
        }
    
        .attività-ed-esperienze .testo {
            margin-top: 20px;
            margin-bottom: 30px;
            gap: 10px;
            font-size: 18px;
        }
    
        .attività-ed-esperienze .testo p {
            text-align: left;
        }
    
        .img-trecking img{
            border-radius: 10px;

        }

        .img-trecking h1 {
            font-size: 26px;
            line-height: 1.3;
            padding-top: 220px;
            padding-left: 15px;
            max-width: 90%;
            text-align: left;
        }
    
        .news-letter {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: space-between; 
        }
    
        .rettangolo-bianco {
            flex-direction: column; 
            align-items: flex-start;
            padding: 15px;
        }
    
        .rettangolo-bianco p {
            max-width: none; 
            padding: 10px 30px 10px 10px;
            text-align: left;
            font-size: 14px;
            flex-grow: 1; 
        }
    
        .rettangolo-bianco .email {
            padding: 10px 30px 10px 10px;
        }
    
        .riga-marchio {
            display: flex; 
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    
        .privacy {
            flex-direction: row;
            gap: 15px;
            text-align: left;
        }
    
        .sezione-carte-parchi {
            grid-template-columns: 1fr;
            padding: 0 15px;
        }
    
        .parchi .descrizione {
            max-width: 100%;
            padding: 0 15px;
            font-size: 18px;
            text-align: left;
        }
    
        .attivita-introduzione {
            padding-top: 40px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
        }
    
        .attivita-introduzione h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    
        .attivita-introduzione p {
            font-size: 16px;
            line-height: 1.3;
            text-align: left;
        }
    
        .foto-img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
    
        .uno .escursioni {
            margin-bottom: 30px;
        }
    
        .uno .escursioni h3 {
            font-size: 20px;
            margin-bottom: 30px;
            text-align: left;
        }
    
        .uno .escursioni h2 { font-size: 22px;
            margin-bottom: 20px;
            text-align: left;
        }
    
        .uno .escursioni-p {
            flex-direction: column;
            gap: 15px;
        }
    
        .uno .escursioni-p p {
            width: 100%;
            font-size: 18px;
            text-align: left;
        }
    
        .uno .foto-img {
            position: static;
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
    
        .padding {
            padding-top: 30px;
            padding-bottom: 15px;
        }
    
        footer {
            padding: 20px 15px; /* Aggiunto padding orizzontale */
        }
    
        footer .copyright {
            text-align: left;
            font-size: 10pt;
            margin-top: 20px; /* Ridotto il margin-top */
            margin-bottom: 20px; /* Ridotto il margin-bottom */
        }
    
        footer .riga-marchio {
            display: flex; /* Rende il footer orizzontale */
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    
        footer .privacy {
            flex-direction: row;
            gap: 15px;
            text-align: left;
        }

        .card {
            margin: auto;
        }
    }
            